<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./sass/style.css" />
  </head>
  <body>
    <header class="left-header">
      <div class="logo__wrapper">
        <a href="">LOGO</a>
      </div>
      <div class="header-item">
        <ul class="header-menu">
          <li>
            <a href=""><img src="../../images/Home.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Game.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Chart.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Activity.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Frame.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Group.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Profile.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Frame (2).svg" alt="" /></a>
          </li>
         <div class="logout">
          <li>
            <a href=""><img src="../../images/Setting.svg" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="../../images/Logout.svg" alt="" /></a>
          </li>
         </div>
        </ul>
      </div>
    </header>
  </body>
</html>
