*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.home-page {
  width: 100%;
  height: 100vh;
  background: #1A1C26;
}

.main-page__wrapper {
  display: flex;
}

aside {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  border-left: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  background: #1A1C26;
}

.profile__wrapper {
  max-width: 760px;
  height: 142px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  background: linear-gradient(180deg, #8140e2 100%, #5d1dde 100%);
}

.link-icon {
  width: 13px;
  height: 14px;
  margin: 15px 15px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(39, 41, 50, 0.582);
  color: rgb(143, 143, 143);
  display: flex;
  justify-content: center;
  float: right;
}

.about-profile {
  display: flex;
}

.profile-img__wrapper {
  width: 60px;
  height: 60px;
}

.search__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 0;
}

ul li {
  list-style: none;
}

header {
  width: 100px;
  height: 100vh;
  background-color: rgb(39, 41, 50);
}

.logo__wrapper {
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__wrapper a {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-family: "Bakbak One", sans-serif;
}

.logout {
  width: 40%;
  padding-top: 35px;
  border-top: 0.5px solid rgb(143, 143, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

img {
  width: 17px;
}

.header-menu li a img {
  transition: 0.3s;
}

.header-menu li a img:hover {
  padding-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.home-page {
  width: 100%;
  height: 100vh;
  background: #1A1C26;
}

.main-page__wrapper {
  display: flex;
}

aside {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  border-left: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  background: #1A1C26;
}

.profile__wrapper {
  max-width: 760px;
  height: 142px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  background: linear-gradient(180deg, #8140e2 100%, #5d1dde 100%);
}

.link-icon {
  width: 13px;
  height: 14px;
  margin: 15px 15px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(39, 41, 50, 0.582);
  color: rgb(143, 143, 143);
  display: flex;
  justify-content: center;
  float: right;
}

.about-profile {
  display: flex;
}

.profile-img__wrapper {
  width: 60px;
  height: 60px;
}

.search__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.home-page {
  width: 100%;
  height: 100vh;
  background: #1A1C26;
}

.main-page__wrapper {
  display: flex;
}

aside {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  border-left: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  background: #1A1C26;
}

.profile__wrapper {
  max-width: 760px;
  height: 142px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  background: linear-gradient(180deg, #8140e2 100%, #5d1dde 100%);
}

.link-icon {
  width: 13px;
  height: 14px;
  margin: 15px 15px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(39, 41, 50, 0.582);
  color: rgb(143, 143, 143);
  display: flex;
  justify-content: center;
  float: right;
}

.about-profile {
  display: flex;
}

.profile-img__wrapper {
  width: 60px;
  height: 60px;
}

.search__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}